<!DOCTYPE html>
<html>
  <%- include('./partials/head'); %>
  <body>
    <div class="resume-main">
      <div class="left-box">
        <br />
        <div class="profile img">
          <img src="./assets/images/hcphoto.png" />
        </div>

        <br />
        <div class="content-box">
          <h2>Summary</h2>
          <hr class="hr1" />
          <p class="p1">
            A full stack web developper with superb project leadership and
            experience in software design and development for both front-end and
            back-end using agile processes along with GIT, mothern web tools,
            and frameworks.
          </p>

          <h3>Fluent Languages:</h3>
          <p class="p2">English</p>
          <div id="progress"></div>
          <p class="p2">Spanish</p>
          <div id="progress1"></div>

          <br />
          <br />
          <h2>Tech Skills</h2>
          <hr class="hr1" />

          <div class="col-div-3"><p class="p2">HTML</p></div>
          <div class="col-div-3"><p class="p2">&nbsp&nbspCSS</p></div>
          <div class="col-div-50"><p class="p2">BOOTSTRAP</p></div>
          <div class="col-div-3"><p class="p2">JQUERY</p></div>
          <div class="col-div-3">
            <p class="p2">&nbsp&nbsp&nbsp&nbsp&nbspEJS</p>
          </div>
          <div class="col-div-3">
            <p class="p2">&nbsp&nbspJSX&nbsp&nbspES6&nbsp&nbspWEB3JS</p>
          </div>

          <!-- <div class="col-div-6">
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle1"></i>
            <i class="fa fa-circle circle1"></i>
          </div> -->
          <div class="clearfix"></div>
          <div class="col-div-50"><p class="p2">JAVASCRIPT</p></div>
          <div class="col-div-3"><p class="p2">JAVA</p></div>
          <div class="col-div-3"><p class="p2">MOTOKO</p></div>
          <!-- <div class="col-div-6">
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle1"></i>
          </div> -->
          <div class="clearfix"></div>
          <div class="col-div-8">
            <p class="p2">ReactJS Native Vite</p>
          </div>
          <div class="col-div-3">
            <p class="p2">Vanilla&nbsp&nbspDocker</p>
          </div>
          <div class="col-div-3"><p class="p2">NodeJS</p></div>
          <div class="col-div-30"><p class="p2">&nbsp&nbspExpressJS</p></div>
          <div class="col-div-3">
            <p class="p2">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNextJS&nbsp&nbspAPI</p>
          </div>

          <div class="clearfix"></div>
          <div class="col-div-40"><p class="p2">RESTFull</p></div>
          <div class="col-div-3"><p class="p2">MongoDB</p></div>
          <div class="col-div-30">
            <p class="p2">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspFireBase</p>
          </div>
          <div class="col-div-40"><p class="p2">Git/GitHub</p></div>
          <div class="col-div-3">
            <p class="p2">&nbsp&nbsp&nbsp&nbspRobot3T</p>
          </div>
          <div class="col-div-3">
            <p class="p2">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPostman
            </p>
          </div>
          <div class="clearfix"></div>
          <div class="col-div-9">
            <p class="p2">VSCode CodeSandBox Expo</p>
          </div>
          <br />
          <h2>LEAD SKILLS</h2>
          <hr class="hr1" />
          <p class="p2 linespacing">Prioritization - Roadmaps - SDLC - Scrum Sprints</p>
          <br />
          <div class="col-div-7 linespacing">
            <form action="/" method="post">
              
              <button
                name="submit"
                value="portfolio"
                clas="btn px-2 btn-info btn-sm"
                type="submit"
              >
                <div class="col-div-9 ">
                  <h4>View Portfolio</h4>
                </div>
              </button>
            </form>
          </div>

    
          <br />

        </div>
      </div>

      <div class="right-box">
        <div class="col-div-7"><p class="p2">    <h2>
          Hernan<br />
          <span>Clarke</span>
        </h2>
    </p></div>
    <div class="clearfix"></div>

    <p class='center'>
      <a href = "mailto:hernanclarke1@gmail.com">
        <span1 >hernanclarke1@gmail.com</span1>
        </a>
      
    </p> 

        <p class="p4">FULL STACK DEVELOPER</p>
        
        
       

        <br />
        <h2 class="heading">Work Experience</h2>
        <hr class="hr2" />
        <br />
        <div class="col-div-4">
          <p class="p5">2021-Present</p>
          <span class="span1">VGM Corp</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Full Stack Developer</p>
          <span class="span1"
            >Worked on the website, bookings and reservation portal.</span
          >
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-div-4">
          <p class="p5">2016-2021</p>
          <span class="span1">eComx Corp</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Blockchain Web3 Developer</p>
          <span class="span1"
            >Worked on the eComX decentralized store - DAPP.</span
          >
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-div-4">
          <p class="p5">2009-2016</p>
          <span class="span1">4Sight Technologies</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Enterprise Software Developer</p>
          <span class="span1"
            >Worked on the company´s key products. BayPlan and CheckPlan.</span
          >
        </div>
        <div class="clearfix"></div>

        <br />
        <h2 class="heading">My Education</h2>
        <hr class="hr2" />
        <br />
        <div class="col-div-4">
          <p class="p5">NMU</p>
          <span class="span1">Michigan. USA</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Bachelor´s Degree</p>
          <span class="span1">Computer Science and Mathematics</span>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-div-4">
          <p class="p5">UDEMY</p>
          <span class="span1">Florida, USA</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Full Stack Developer</p>
          <span class="span1">Frontend - Backend - Mobile</span>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-div-4">
          <p class="p5">MSI</p>
          <span class="span1">New York, USA</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Management and Strategy Institute</p>
          <span class="span1">Project Managment, Lean, Agile, Six-Sigma</span>
        </div>
        <div class="clearfix"></div>
        <br />
        <h2 class="heading">Other Highlights</h2>
        <hr class="hr2" />

        <span class="span1"
          >Proud husband & father - Balanced & healthy life-style - Enjoys
          playing classical guitar and cooking.</span
        >
        <div class="clearfix"></div>
        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        <div class="col-div-3"><p class="p2"></p></div>
      </div>

      <div class="clearfix"></div>
    </div>
  </body>
</html>
