<!DOCTYPE html>
<html>
  <%- include('./partials/head'); %>
  <body>
    <div class="resume-main">
      <div class="left-box">
        <br />
        <div class="profile img">
          <img src="./assets/images/hcphoto.png" />
        </div>

        <br />
        <div class="content-box">

          <h2>Tech Skills</h2>
          <hr class="hr1" />
          <span class='p1'>Html Css Bootstrap JavaScript TypeScript Solidity Motoko</span>
          <br />
          <br />
          <h2>Lead Skills</h2>
          <hr class="hr1" />
          <span class='p1'>SDLC Agile/Scrum Lean Six-Sigma CI/CD </span>
          <br />
          <br />
          <h2>Frameworks</h2>
          <hr class="hr1" />
          <span class='p1'> ReactJS React-Native NodeJS ExpressJS</span>
          <br />
          <br />
          <h2>Interfaces</h2>
          <hr class="hr1" />
          <span class='p1'>API RESTFull</span>
          <br />
          <br />
          <h2>Databases</h2>
          <hr class="hr1" />
          <span class='p1'>MongoDB - Firebase </span>
          <br />
          <br />
          <h2>Tools</h2>
          <hr class="hr1" />
          <span class='p1'>VSCode CodeSandBox Expo GitHub Studio3T</span>

          <!-- <div class="col-div-3">
            <p class="p2">&nbsp&nbsp&nbsp&nbsp&nbspEJS</p>
          </div>
          <div class="col-div-3">
            <p class="p2">&nbsp&nbspJSX&nbsp&nbspES6&nbsp&nbspWEB3JS</p>
          </div> -->

          <!-- <div class="col-div-6">
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle1"></i>
            <i class="fa fa-circle circle1"></i>
          </div> -->

         
          <!-- <div class="col-div-6">
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle1"></i>
          </div> -->

          
<!--          
          <div class="col-div-3">
            <p class="p2">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDocker
            </p>
          </div> -->
         
          <br /> <br />
          <h2>Languages</h2>
          <hr class="hr1" />
          <p class="p2">English</p>
          <div id="progress"></div>
          <p class="p2">Spanish</p>
          <div id="progress1"></div>

        </div>
      </div>

      <div class="right-box">
        <div class="col-div-7"><p class="p2">    <h2>
          Hernan<br />
          <span>Clarke</span>
        </h2>
    </p></div>
    <div class="clearfix"></div>

    <p class='center'>
      <a href = "mailto:hernanclarke1@gmail.com">
        <span1 >hernanclarke1@gmail.com</span1>
        </a>
      
    </p> 

        <p class="p4">FULL STACK DEVELOPER</p>
        
        <div class='profesional-summary'>
          <div class='justify-left'>
            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPROFESSIONAL SUMMARY</p>
            <hr class="hr1" />
            <span class='p1'> A full stack web developper with superb project leadership  <br/> and experience in software design and development for both <br/> front-end and back-end using agile processes along with GIT, <br/>modern web tools, and latest frameworks.</span>
           
           
           
          </div>
          
        </div>
       

        <br />
        <h2 class="heading">Recent Work Experience</h2>
        <div class='view-portfolio'>
          <div class='portfolio-btn'>
            <form action="/" method="post">
              
              <button
                name="submit"
                value="portfolio"
                class="btn-clear"
                type="submit"
              >
              &nbsp&nbspPortfolio: https://hcportfolio.herokuapp.com/&nbsp&nbsp&nbsp&nbsp&nbsp
              </button>
            </form>
            
         
          </div>
        </div>
        <hr class="hr2" />
        <br />
        <div class="col-div-4">
          <p class="p5">2021-Present</p>
          <span class="span1">VGM Corp</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Senior Full Stack Developer</p>
          <ul>
            <li>Architect a scalable reservation system using a collection of microservices.</li>
            <li>Deploy a multi services app to the cloud with Docker and Kubernetes.</li>
            <li>Lead a team of 5 developers on the convertion of several web apps using ReactJS and MongoDB.</li>
          </ul>
          
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-div-4">
          <p class="p5">2016-2021</p>
          <span class="span1">eComx Corp</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Full Stack Developer</p>
          <ul>
            <li>Worked on the development of the eComX DAPP deployed in the IPC Blockchain using ReactJS and Motoko..</li>
            <li>Worked on the cross border ecommerce web frontend using html, css and js.</li>
            <li>Developed the eComX Restful API.</li>
          </ul>
          
        </div>
        <div class="clearfix"></div>
        <!-- <br />
        <div class="col-div-4">
          <p class="p5">2009-2016</p>
          <span class="span1">4Sight Technologies</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Enterprise Software Developer</p>
          <span class="span1"
            >Lead software developer for the company´s key products: "BayPlan" and "CheckPlan".</span
          >
        </div> -->
     
        <h2 class="heading">My Education</h2>
        <hr class="hr2" />
        <br />
        <div class="col-div-4">
          <p class="p5">NMU</p>
          <span class="span1">Michigan. USA</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Bachelor´s Degree</p>
          <span class="span1">Computer Science and Mathematics</span>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-div-4">
          <p class="p5">UDEMY</p>
          <span class="span1">Florida, USA</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Full Stack Developer</p>
          <span class="span1">Frontend - Backend - Mobile</span>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-div-4">
          <p class="p5">MSI</p>
          <span class="span1">New York, USA</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Management and Strategy Institute</p>
          <span class="span1">Project Managment, Lean, Agile, Six-Sigma</span>
        </div>
        <div class="clearfix"></div>
        <!-- <br />
        <h2 class="heading">Important Links</h2> -->
        <hr class="hr2" />
      
        
            <br />

            <div class='view-linkedin'>
              <div class='portfolio-btn'>
                <form action="/" method="post">
                  
                  <button
                    name="submit"
                    value="linkedin"
                    class="btn-clear"
                    type="submit"
                  >
                  &nbsp&nbspLinkedin: https://www.linkedin.com/in/hernan-clarke-0954ba273&nbsp&nbsp&nbsp&nbsp&nbsp
                  </button>
                </form>
               
              </div>
            </div>

      </div>

    </div>
  </body>
</html>
