
<%- include('./partials/head'); %>

  <body class='container'>
    <div >
    <div class = "vertical"></div>
    <div id="side-bar">
    
      <img class='photo' src="./assets/images/hcphoto.png" alt="HC Photo">
      <br />
      <h5 id="education">SUMMARY</h5>
      <br /><br />
      <h5 id="education">EDUCATION</h5>

      <br />
      <h5 id="education">SOFTWARE SKILL</h5>
     
      <br /><br /><br />
      <h5 id="education">MANAGEMENT SKILL</h5>
      <br />
      <h5 id="education">TACTICAL SKILL</h5>
     
      <h5 id="education">CERTIICATIONS</h5>

      <br /> <br />
      <h5 id="education">PATTENTS</h5>
      <br /> <br /> <br /> <br /> <br /> <br /> <br /> 
      <h5 id="education">EXPERIENCE</h5>
      <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> 
      <h5 id="education">LANGUAGES</h5>

    </div>
    </div>


    <div id="main">
      <h1 class="applicant">Hernan J. Clarke</h1>
      <hr />

      <h5 class="header">FULL STACK WEB DEVELOPER</h5>
      <h5 class="summary">
        A full stack web developper with superb project leadership and
        experience in software design and development for classical web2.0 and web 3.0 using agile processes along with GIT,
        mothern web tools, and software development frameworks.  
      </h5>
      <hr />
      <h5>
        Northern Michigan University, Michigan USA - Bachelor´s Degree in
        Computer Science and Mathematics.
      </h5>
      <hr />
      <h5>- Languages: Javascript, EJS, Motoko, Solidity, Java, c++,<br />
        - Frameworks: Bootstrap, ReactJS, AngularJS, NodeJS, ExpressJS, web3JS, <br />
        - Authentication: OAuth, Cookies and Sessions, Emcryption, Hashing.<br /> 
        - Databases: MySQL, ORACLE, MongoDB.<br />
        - Design Patterns: [Client - API - Server] Arquitecture, RESTFull Architecture.<br />
        - Tools: Comand Line, Crome Extentions, VS Code, GIT, GITHUB, Mongoose, <br />
        &nbsp&nbspHeroku, Robo 3T, 
           Postman, NoSQL Manager, MySQL WorkBench.
      </h5>
      <hr />

      <h5>
        Team Leadership & Motivation, Project Management, Service/Product
        Delivery, Change Management, Meeting Management, Agile/Scrum.
      </h5>

      <hr />
      <h5>
        Concept and Solution Formulation, Project Scope Containment, Cross
        Functional Communication, Implementation Roadmaps, SDLC, Client Support.
      </h5>
      <hr />
      <h5>
        Full-Stack Developer Certified - Project Management Certified – Lean Process Certified - Six-Sigma Lean
        Green Belt Certified - Agile / Scrum Certified.
      </h5>
      
      <hr />
      <h5>
        us8306841b2: "Enterprise Project Management Methods” - us20060053043a1:
        “Work Breakdown Structures” - us20060053043a1: "Earn Value Tracking”.
      </h5>
     
      <hr />
      <h5>
        VGMCorp.................................................................................................. 2021 to Present
         <BR  />
          <ul class="list-features">
            <li ><p id='indent' class="experience-detail">
              √ Built a RESTful API to serve data to the JavaScript Front End.
            
            </p></li>
            <li><p class="experience-detail">
              √  Built a RESTful API to serve data to the JavaScript Front End.
            
            </p></li>
            <li> 
              <p class="experience-detail">
                √  Built a RESTful API to serve data to the JavaScript Front End.
        
        </p></li>
          </ul>
      </h5>
      <h5>
        eComX...................................................................................................... 2016 to 2021
         <BR  />
          <ul class="list-features">
            <li ><p id='indent' class="experience-detail">
              √ Built a RESTful API to serve data to the JavaScript Front End.
            
            </p></li>
            <li><p class="experience-detail">
              √ Built a RESTful API to serve data to the JavaScript Front End.
            
            </p></li>
            <li><p class="experience-detail">
              √ Built a RESTful API to serve data to the JavaScript Front End.
        
        </p></li>
          </ul>
      </h5>
      
      <h5>
        4Sight Technologies................................................................................ 2009 to 2016
         <BR  />
          <ul class="list-features">
            <li ><p id='indent' class="experience-detail">
              √ Built a RESTful API to serve data to the JavaScript Front End.
            
            </p></li>
            <li><p class="experience-detail">
              √ Built a RESTful API to serve data to the JavaScript Front End.
            
            </p></li>
            <li><p class="experience-detail">
              √ Built a RESTful API to serve data to the JavaScript Front End.
        
        </p></li>
          </ul>
      </h5>
      <h5></h5>
      
      <hr />

    
      <h5 class="text-center">English and Spanish</h5>

      <div class="footer-line">
        <h6 id="small-text">
          698 NE 1st Ave, Apt 4004, Miami FL 33132 - (617) 586-6173 -
          hernanclarke1@gmail.com
        </h6>
      </div>
    </div>
  </div>
  </body>
</html>
