<!DOCTYPE html>
<html>
  <%- include('./partials/head'); %>
  <body>
    <div class="resume-main">
      <div class="left-box">
        <br />
        <div class="profile img">
          <img src="./assets/images/hcphoto.png" />
        </div>

        <br />
        <div class="content-box">

          <h2>Tech Skills</h2>
          <hr class="hr1" />
          <span class='p1'>Html Css Bootstrap JavaScript TypeScript Java Solidity Motoko</span>
          <br />
          <br />
          <h2>Lead Skills</h2>
          <hr class="hr1" />
          <span class='p1'>SDLC Agile/Scrum Lean Six-Sigma CI/CD </span>
          <br />
          <br />
          <h2>AWS Skills </h2>
          <hr class="hr1" />
          <span class='p1'>EC2 S3 IAM-ROLES CLI RDS SNS SQS LAMBDA (Functions Triggers Service-Integration Autoscaling Throttling & Concurrency)</span>
          <br />
          <br />
          <h2>Frameworks</h2>
          <hr class="hr1" />
          <span class='p1'> ReactJS React-Native Ejs Jest JQuery NodeJS ExpressJS</span>
          
          <br />
          <br />
          <h2>ADVANCE DEV</h2>
          <hr class="hr1" />
          <span class='p1'>REST API Serverless Microservices Adv-Nodejs Event-Mapping Event-loops Load-Balancing Gateways Streams  </span>
          <br />
          <br />
          <h2>Databases</h2>
          <hr class="hr1" />
          <span class='p1'>MongoDB Firebase Redis MySQL DynamoDB Aurora </span>
          <br />
          <br />
          
          <h2>Deployment</h2>
          <hr class="hr1" />
          <span class='p1'>Docker Kubernete Orchestration</span>
          <br />
           <br />
          <h2>Tools</h2>
          <hr class="hr1" />
          <span class='p1'>VSCode CodeSandBox Expo GitHub Studio3T Postman</span>

          <!-- <div class="col-div-3">
            <p class="p2">&nbsp&nbsp&nbsp&nbsp&nbspEJS</p>
          </div>
          <div class="col-div-3">
            <p class="p2">&nbsp&nbspJSX&nbsp&nbspES6&nbsp&nbspWEB3JS</p>
          </div> -->

          <!-- <div class="col-div-6">
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle1"></i>
            <i class="fa fa-circle circle1"></i>
          </div> -->

         
          <!-- <div class="col-div-6">
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle"></i>
            <i class="fa fa-circle circle1"></i>
          </div> -->

          
<!--          
          <div class="col-div-3">
            <p class="p2">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDocker
            </p>
          </div> -->
         
          <br /> <br />
          <h2>Languages</h2>
          <hr class="hr1" />
          <p class="p2">English</p>
          <div id="progress"></div>
          <p class="p2">Spanish</p>
          <div id="progress1"></div>

        </div>
      </div>

      <div class="right-box">
        <div class="col-div-7"><p class="p2">    <h2>
          Hernan<br />
          <span>Clarke</span>
        </h2>
    </p></div>
    <div class="clearfix"></div>

    <p class='center'>
      <a href = "mailto:hernanclarke1@gmail.com">
        <span1 >hernanclarke1@gmail.com</span1>
        </a>
      
    </p> 

        <p class="p4">FULL STACK DEVELOPER</p>
        
        <div class='profesional-summary'>
          <div class='justify-left'>
            <p>PROFESSIONAL SUMMARY</p>
            <hr class="hr1" />
            <span class='p1'> A full stack web developper with superb project leadership  <br/> and experience in software design and development for both <br/> front-end and back-end using agile processes along with <br/>GIT, modern web tools, and latest frameworks.</span>
        
          </div>
          
        </div>
       

        <br />   <br /> <br />
        <div>
        <h2 class="heading">Work Experience</h2>
        <div class='view-portfolio'>
          <div class='portfolio-btn'>
            <form action="/" method="post">
              
              <button
                name="submit"
                value="portfolio"
                class="btn-clear"
                type="submit"
              >
              &nbsp&nbspPortfolio: https://hcportfolio.herokuapp.com/&nbsp&nbsp&nbsp&nbsp&nbsp
              </button>
            </form>
          </div>
        </div>
      </div>
        <hr class="hr2" />
        <br />
        <div class="col-div-4">
          <p class="p5">2021-2023</p>
          <span class="span1">VGM Corp</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Senior Full Stack Developer</p>
          <ul>
            <li>Architect a scalable reservation system using event-driven microservices. </li>
            <li>Mapped each key feature to a micro-service with its own independent MongoDB database.</li>
            <li>Lead a team of developers through the creation of each feature using the MERN stack and agile/project management techniques.</li>
            <li>Created a deployment infrastructure for a fast and continues cloud deployment using Docker and Kubernetes orchestration.</li>
            
          </ul>
          
        </div>

        <br />
        <div class="clearfix"></div>
        
        <div class="col-div-4">
          <p class="p5">2018-2021</p>
          <span class="span1">eComx Corp</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Full Stack Developer</p>
          <ul>
            <li>Worked on the development of the eComX eCommerce platform using ReactJS on the frontend and NodeJS and ExpressJS on the backend.</li>
             <li>Created the AWS Migration Roadmap.</li>
             
             <li>Created the AWS account, IAM groups & users and configured the eComX VPC.</li>

             <li>Added EC2 and a NAT Gateway to reach outside the VPC. </li>

            <li>Added the S3 Service for main storage and configured Aurora as the eComx RDS.</li>

             <li>Created a series of AWS Lambda functions for NodeJS with DynamoDB Stream. All Microservices were built with Docker-Build and then pushed into  Docker-Hub as images then deployed into a AWS Elastic Kubernetes cluster.</li>

            <li>Deployed the eComx Dapp into the IPC Blockchain network. Used ReactJS for the frontend and Motoko with nodeJS for the backend.</li>
          </ul>
          
        </div>
     
        <div class="clearfix"></div>
    
           <div class="col-div-4">
          <p class="p5">2010-2018</p>
          <span class="span1">4Sight Technologies</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Enterprise Software Developer</p>
          <ul>
            <li>Worked on the development of "CheckPlan" and "BayPlan", a long range aircraft maintenance planning for Boeing Defense Systems and FexEx. </li>
              <li>Responsible for the implementation of several key features including routing and non routing workcards´ scheduling, earn-value methodology for defense systems, and the work-breakdown of large checks into work-pods for long-range maintennce planning.</li>
            
          </ul>
          
        </div>
        <div class="clearfix"></div>
        <!-- <br />

          Used the MERN stack to implement the CRUD functionality for the eComX Restful API.


        <div class="col-div-4">
          <p class="p5">2009-2016</p>
          <span class="span1">4Sight Technologies</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Enterprise Software Developer</p>
          <span class="span1"
            >Lead software developer for the company´s key products: "BayPlan" and "CheckPlan".</span
          >
        </div> -->
     
        <h2 class="heading">My Education</h2>
        <hr class="hr2" />
        <br />
        <div class="col-div-4">
          <p class="p5">NMU</p>
          <span class="span1">Michigan. USA</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Bachelor´s Degree</p>
          <span class="span1">Computer Science and Mathematics</span>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-div-4">
          <p class="p5">UDEMY</p>
          <span class="span1">Florida, USA</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Full Stack Developer</p>
          <span class="span1">Frontend - Backend - Mobile - Blockchain</span>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-div-4">
          <p class="p5">MSI</p>
          <span class="span1">New York, USA</span>
        </div>
        <div class="col-div-8">
          <p class="p5">Management and Strategy Institute</p>
          <span class="span1">Project Managment, Lean, Agile, Six-Sigma</span>
        </div>
        <div class="clearfix"></div>
        <br />
        <hr class="hr2" />
      
        
            <br />

            <div class='view-linkedin'>
              <div class='portfolio-btn'>
                <form action="/" method="post">
                  <button
                    name="submit"
                    value="linkedin"
                    class="btn-clear"
                    type="submit"
                  >
                  &nbsp&nbspLinkedin: https://www.linkedin.com/in/hernan-clarke-0954ba273&nbsp&nbsp&nbsp&nbsp&nbsp
                  </button>
                </form>
               
              </div>
            </div>

      </div>

    </div>
  </body>
</html>
